@charset "utf-8";
/* CSS Document */

.horizontal{ position:absolute; z-index:999999; width:100%; height:100%; top:0px; background-color:#000000; display:none; }
.horizontal h1{ margin-top:25%; color:#FFFFFF; font-size:24px; margin-left:15%; }

.middle{ position:absolute; overflow:hidden; }
.action{ transition:all ease 0.8s; -webkit-transition:all ease 0.8s; -webkit-transform:translate3d()}
.actions{ transition:all ease 0.8s 0.8s; -webkit-transition:all ease 0.8s 0.8s; -webkit-transform:translate3d()}
.wrap{ position:relative; }
.session{ float:left; }

#navBar{ position:absolute; width:10rem; height:100%; background-color:#000000; color:#E3E3E3; right:0px; top:0rem; z-index:99999; display:none; }

#loading { position:absolute; width:100%; height:100%; z-index:9999; }
#all{ display:none; }

.navb{ bottom: 0px; }
.navm{ top:30%; }
.navml{ top:30%; }

.comm_img{ position:absolute; }
.comm_img_lit{ position:absolute; }
.comm_img_litr{ position:relative; width:100%; }

.logobox{ position:absolute; top:0rem; width:100%; height:10rem; z-index:99999; }
.logo_mu{ position:absolute; right:0.5rem; width:5rem; height:5rem; }
.loadwrap{ position:absolute; top:10rem;left:0rem; z-index:99999;}
.txtbox{ position:absolute; top: 0rem; overflow:hidden;-webkit-transform:translate3d() }
.loadtxt{ position:relative; width:100%; }

#loadtxt{ position:absolute; width:5rem; height:3rem; font-size:2rem; color:#C5C5C5; top:16rem; left:36%; text-align:center; }

.home{ position:absolute; z-index:99; width:100%; }
#home_drag{ position:absolute; z-index:999; } 

.lockp2{ position:absolute; top:62%; z-index:99999; width:3.5rem }
#p2txt{ z-index:99; opacity:0; }
#p2bg { z-index:9; }
#p2bt { z-index:999; }

#p3blig{ top:55.55%; z-index:9999;}

.p3btnarea{ position:absolute; width:100%; top:45%; z-index:999; }
#biglight{ position:absolute; width:10rem; height:5rem; top:4rem; }
#ledlight{ position:absolute; width:10rem; height:5rem; bottom:1rem;}

.p5wbtn{ position:relative; width:100%; top:67%; z-index:999; }
#p5wb1{ position:absolute; width:4rem; height:5rem; left:21%; top:1rem; }
#p5wb2{ position:absolute; width:4rem; height:5rem; left:40%; top:1rem; }
#p5wb3{ position:absolute; width:4rem; height:5rem; left:60%; top:1rem; }

.p5btn{ position:relative; width:100%; top:81%; z-index:999; }
#p5b1{ position:absolute; width:4rem; height:3rem; left:31%; top:1rem; }
#p5b2{ position:absolute; width:4rem; height:3rem; left:52%; top:1rem; }

#p6wp{ z-index:999; top:46%; }
#p6p { z-index:999; top:43% }

.p7wbtn{ position:relative; z-index:999; top:15rem; }
.p7wb{ position:absolute; width:4rem; height:4rem; }
.p7b{ position:absolute; width:4rem; height:4rem; }
.p7bt{ bottom:-6rem; left:1.5rem; }
.p7bb{ bottom:-11rem; left:1.5rem; }

.p9rode1{ top:7rem; overflow:hidden; height:23rem;}
#p9wtcar{ z-index:99; top:-5rem; }
.p9wtcar{ -webkit-transform:translate3d(0rem,6rem,0) }
.p9wbcar{ z-index:99; top:9rem; }
#id9car1{ opacity:1; }
#id9car2{ opacity:0; }
.p9rode2{ position:absolute; width:100%; height:100%; }
#p9bcar2{ top:1rem; }
.p9bcar2{ -webkit-transform:translate3d(0rem,4rem,0) }
.p9bcar1{ top:22rem; }
.p9bcar11{ -webkit-transform:translate3d(0rem,-10rem,0) }
#p9bst{ z-index:99999; }

#p9w{ z-index:99999; top:23rem; }

.p11cbtns{ position:absolute; width:100%; height:3.5rem; z-index:9999; }
#p11btn1{ top:59%;}
#p11btn2{ top:73%; }
#p11btn3{ top:85%; width:40%; left:3%; }
#p11btn4{ top:85%; width:40%; right:3%; }

.pageList1{ z-index:99999; top:0rem; display:none; position:absolute; width:100%; top:0rem;}
.list1btns{ position:absolute; width:3rem; height:3rem; z-index:9999; }
#list1b1{ top:39%; left:19%; }
#list1b2{ top:30%; left:42%; }
#list1b3{ top:39%; left:65%; }
#list1b4{ top:49%; left:41%; }

.pageList2{ z-index:99999; top:0rem; display:none;width:100%; top:0rem; position:absolute; }
.table_wrap{ position:absolute; width:90%; height:51%; top:24%; left:13.5%; }
.line{ margin-top:0.7rem; color:#FFFFFF; font-size:1.2rem; }
.line input{ font-size:1.2rem; color:#9F9F9F; padding:2px; }
.line select{ font-size:1.2rem; }
.listclear{ position:absolute; width:35%; top:80%; left:10%; }
.submit{ position:absolute; width:35%; top:80%; left:50%; }
.endbtn{ z-index:99999; }

.p13return{ position:absolute; width:34%; right:0px; top:3%; z-index:99999; }

@-webkit-keyframes carArrow{
    14% { -webkit-transform:translate3d(28px,-14px,0) rotate(1deg)}
    28% { -webkit-transform:translate3d(74px,-30px,0) rotate(7deg)}
    42% { -webkit-transform:translate3d(117px,-38px,0) rotate(15deg)}
    56% { -webkit-transform:translate3d(149px,-40px,0) rotate(20deg)}
    70% { -webkit-transform:translate3d(189px,-37px,0) rotate(30deg)}
    84% { -webkit-transform:translate3d(237px,-25px,0) rotate(35deg) }
    98% { -webkit-transform:translate3d(272px,-12px,0) rotate(40deg)}
    100% { -webkit-transform:translate3d(272px,-12px,0) rotate(40deg)}
}

.carArrow{
  -webkit-animation: carArrow 1.3s linear;
          animation: carArrow 1.3s linear;
  -webkit-animation-fill-mode: forwards ;    
          animation-fill-mode: forwards ;
}

.op0{ opacity:0 }
.op1{ opacity:1 }

.ltxt { transform:translateX(-50px); -webkit-transform:translateX(-50px); opacity:0; z-index:19; }
.rtxt { transform:translateX(50px); -webkit-transform:translateX(50px); opacity:0; z-index:19; }
.mtxt { transform:translateX(0px); -webkit-transform:translateX(0px); opacity:1; z-index:19; }
.ttxt { transform:translateY(-50px); -webkit-transform:translateY(-50px); opacity:0; z-index:19; }
.mitxt{ transform:translateY(0px); -webkit-transform:translateY(0px); opacity:1; z-index:19; }

.animationstop{ animation-play-state:paused; -webkit-animation-play-state:paused; }
.animationSlowtime { animation-duration:10s; -webkit-animation-duration:10s; }

.bar_wrap{ position:absolute; z-index:999999; width:45%; height:100%; top:0px; right:0px; background:#000000; -webkit-transform:translateX(40rem)}
.barlist{ list-style:none; color:#FFFFFF; font:1.2rem; margin-right:22%; }
.barlist li{ text-align:center; margin-top:1.3rem; }
.barlist li:first-child{ margin-top:0rem; }
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 0.4;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 0.4;
  }

  25%, 75% {
    opacity: 1;
  }
}

.flash {
  -webkit-animation: flash 2.5s ease infinite;
          animation: flash 2.5s ease infinite;
          z-index:19;
}

@-webkit-keyframes flashfast {
  0%, 50%, 100% {
    opacity: 0.4;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes flashfast {
  0%, 50%, 100% {
    opacity: 0.4;
  }

  25%, 75% {
    opacity: 1;
  }
}

.flashfast {
  -webkit-animation: flashfast .8s ease infinite;
          animation: flashfast .8s ease infinite;
          z-index:19;
}

@-webkit-keyframes wrode1 {
 0% { -webkit-transform:translate3d(0rem,0rem,0) }
 100% { -webkit-transform:translate3d(0rem,20rem,0) }
}

@keyframes wrode1 {
 0% { -webkit-transform:translate3d(0rem,0rem,0) }
 100% { -webkit-transform:translate3d(0rem,20rem,0) }
}

.wrode1 {
  -webkit-animation: wrode1 .8s linear infinite;
          animation: wrode1 .8s linear infinite;
          z-index:19;
}

@-webkit-keyframes wrode2 {
 0% { -webkit-transform:translate3d(0rem,-20rem,0) }
 100% { -webkit-transform:translate3d(0rem,0rem,0) }
}

@keyframes wrode2 {
 0% { -webkit-transform:translate3d(0rem,-20rem,0) }
 100% { -webkit-transform:translate3d(0rem,0rem,0) }
}

.wrode2 {
  -webkit-animation: wrode2 .8s linear infinite;
          animation: wrode2 .8s linear infinite;
          z-index:19;
}
@-webkit-keyframes carRuning {
 0% { -webkit-transform:translate3d(0rem,0rem,0) }
 100% { -webkit-transform:translate3d(0rem,25rem,0) }
}

@keyframes carRuning {
 0% { -webkit-transform:translate3d(0rem,0rem,0) }
 100% { -webkit-transform:translate3d(0rem,25rem,0) }
}
.carRuning{
      -webkit-animation: carRuning 3s linear infinite;
              animation: carRuning 3s linear infinite;
}

@-webkit-keyframes carRun {
 0% { -webkit-transform:translate3d(0rem,-5rem,0) }
 50% { -webkit-transform:translate3d(0rem,3rem,0) }
 100% { -webkit-transform:translate3d(0rem,-5rem,0) }
}

@keyframes carRun {
 0% { -webkit-transform:translate3d(0rem,-5rem,0) }
 50% { -webkit-transform:translate3d(0rem,3rem,0) }
 100% { -webkit-transform:translate3d(0rem,-3rem,0) }
}
.carRun{
    -webkit-animation: carRun 3s linear infinite;
              animation: carRun 3s linear infinite;
}
@-webkit-keyframes rod1 {
 0% { -webkit-transform:translate3d(0rem,0rem,0) }
 100% { -webkit-transform:translate3d(0rem,30rem,0) }
}

@keyframes rod1 {
 0% { -webkit-transform:translate3d(0rem,0rem,0) }
 100% { -webkit-transform:translate3d(0rem,30rem,0) }
}

.rod1 {
  -webkit-animation: rod1 .8s linear infinite;
          animation: rod1 .8s linear infinite;
}

@-webkit-keyframes rod2 {
 0% { -webkit-transform:translate3d(0rem,-30rem,0) }
 100% { -webkit-transform:translate3d(0rem,0rem,0) }
}

@keyframes rod2 {
 0% { -webkit-transform:translate3d(0rem,-30rem,0) }
 100% { -webkit-transform:translate3d(0rem,0rem,0) }
}

.rod2 {
  -webkit-animation: rod2 .8s linear infinite;
          animation: rod2 .8s linear infinite;
}
