@charset "utf-8";
/* CSS Document */
    body,
    div,
    p,
    ul,
    li{
    	margin: 0;
    	padding: 0;
    }
    ul{
        list-style: none;
    }
    input{
        border:0;
    }
    .blur{
        position:absolute;
        width:100%;
        height:100%;
        z-index:999;
        overflow:hidden;
        background-image:url(../images/blur.png);
    }
    .blur p{
    font-size: 36px;
    color: white;
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    }
    img{
        display:block;
        vertical-align:top;
        margin: 0;
    	padding: 0;
    }
    body {
        overflow:hidden;
        *cursor: default;
    	font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
    }
    .Allstuff{
        display:none;
    }
    .struct{
        position: absolute;
        width: 100%;
        height: 100%;
    }
     .logobox{
        width:100%;
        height:175px;
        position:absolute;
        z-index:11;
    }
    .logo_l{
        cursor:pointer;
        position:absolute;
        left:0px;
    }
    .right_logo_box{
        position:absolute;
        right:0px;
        height:100%;
        width:372px;
    }
    .logo_icon{
        position:absolute;
        top:68px;
        z-index:9;
    }
    .logo_r{
        cursor:pointer;
        position:absolute;
        bottom:35px;
        right:0px;
        z-index:19;
    }
    .wmouse{
        display:none;
        position:absolute;
        left:50%;
        top:80%;
        z-index:11;
    }
    #navBar{
        position:absolute;
        right:0px;
        top:40%;
        z-index:11;
    }
    #navBar li{
        display:block;
        cursor:pointer;
        margin:10px 0;
        height: 20px;
        width :88px;
    }
    .h{
        display:block;
    }
    .s{
        display:none;
    }
    .d{
        display:none;
    }
    li img{
        float:right;
    } 
    .page{
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    	position: absolute;
    }
    .commonimg{
        position:relative;
    }
    .surdimg{
        position:relative;
    }
    .Actionbox{
        position:absolute;
        overflow:hidden;
        z-index:1;
        width:0px;
    }
    .carh{
        z-index:5;
    }
    .content_st{
        position:absolute;
        top:0px;
        left:0px;
        z-index:7;
    }
    .texth{
        display:none;
        position:absolute;
        top:10%;
        left:23%;
        z-index:7;
    }
    .buttonh{
        display:none;
        cursor:pointer;
        position:relative;
        left:33%;
    }
    .ponebox{
        position:absolute;
        top:0px;
        left:0px;
        z-index:7;
    }
    .carf{
        z-index:4;
    }
    .tbox{
        position:absolute;
        width:300px;
        height:110px;
        top:15%;
        left:15%;
        z-index:7;
    }
    .fl{
        position:absolute;
        display:none;
    }
    .ft{
        position:absolute;
        display:none;
        left:85px;
        top:0px;
    }
    .fb{
        position:absolute;
        display:none;
        left:85px;
        top:59px;
    }
    .cars{
        z-index:3;
    }    
    .sl{
        position:absolute;
        display:none;
    }
    .st{
        position:absolute;
        display:none;
        left:85px;
        top:0px;
    }
    .sb{
        position:absolute;
        display:none;
        left:85px;
        top:59px;
    }
    .cart{
        z-index:2;
    }
    .tl{
        position:absolute;
        display:none;
    }
    .tt{
        position:absolute;
        display:none;
        left:85px;
        top:0px;
    }
    .tb{
        position:absolute;
        display:none;
        left:85px;
        top:59px;
    }
    .carsbg{
        width:100%;
        height:100%;
        z-index:1;
    }
    .mouse_360{
        position:absolute;
        bottom:10%;
        left:46%;
        z-index:2;
    }
    .text360{
        display:none;
        position:absolute;
        top:10%;
        left:43%;
        z-index:9;
    }
    .t{
        display:none;
        position:absolute;
        z-index:99;
    }
    .t img{
        position:absolute;
        z-index:99;
    }
    .rt1{
        left:19%;
        top:27%;
        width:217px;
        height:209px;
    }
    .rt2{
        left:44%;
        top:9%;
        width:217px;
        height:63px;
    }
    .rt3{
        left:20%;
        top:9%;
        width:217px;
        height:211px;
    }
    .rt4{
        left:28%;
        top:4%;  
        width:217px;
        height:209px;
    }
    .rt5{
        left:16%;
        top:37%; 
        width:216px;
        height:208px;
    }
    .more{
        cursor:pointer;
        position:absolute;
        width:200px;
        height:27px;
        bottom:0px;
        z-index:99;
    }
    .dialog{
        display:none;
        background-image:url(../images/blur.png);
        position:absolute;
        width:100%;
        height:100%;
        z-index:99;
    }
    .diabox{
       width:100%;
       height:100%;
    }
    .show{
        width:100%;
        height:100%;
        position:relative;
    }
    .diaClose{
        cursor:pointer;
        position:absolute;
        top:5px;
        right:5px;
        width:75px;
        height:64px;
        z-index:99;
    }
    .diaClose:hover{
         background-color:rgba(0,0,0,0.40);
    }
    .drive{
        display:none;
        position:absolute;
        width:100%;
        bottom:0px;
        min-width:1260px;
        z-index:999;
    }
    .imgdr{
        position:absolute;
        width:100%;
        z-index:-1;
    }
    .txtdr{
        display:none;
        position:absolute;
        right:0px;
        bottom:0px;
        z-index:-1;
    }
    .content_dr{
        width:1000px;
        height:200px;
        margin:0 auto;
    }
    .txt_dr{
        float: left;
        width: 150px;
        height: 120px;
        color: white;
        font-size: 24px;
        padding-top:80px;
        padding-left:80px;
    }
    .tab_dr{
        float:left;
        width:550px;
        height:130px;
        padding:35px 10px;
    }
    .bm_dr{
        float:left;
        padding:10px 10px;
        margin-left:5px;
        margin-bottom:5px;
        width:245px;
        background-color:#BCBCBC;
        color:#787878;
    }
    .bs_dr{
        float:left;
        width:265px;
        height:25px;
        margin-left:5px;
        margin-bottom:5px;
        padding-top:5px;
        padding-bottom:5px;
        background-color:#BCBCBC;
        overflow:hidden;
    }
    .bs_dr select{
        border:0;
        top:0px;
        width:295px;
        padding-left:5px;
        position:relative;
        background-color:#BCBCBC;
    }
    .dr_s{
        position:absolute;
        margin-left:235px;
        margin-top:5px;
        z-index:30;
    }
    .be_dr{
        float:left;
        width:515px;
        padding:10px 10px;
        margin-left:5px;
        background-color:#BCBCBC;
        color:#787878;
    }
    .bu_dr{
        float:left;
        width:75px;
        height:75px;
        padding:62.5px 10px;
    }
    .submit{
        cursor:pointer;
        z-index:99;
    }
    .coltab{
        display:none;
        position:absolute;
        bottom:30px;
        width:100%;
        height:33px;
        z-index:99;
    }
    .tabbox{
        width:450px;
        height: 33px;
        margin: 0 auto;
    }
    .col{
        cursor:pointer;
        width:50px;
        height:33px;
        margin-left:1px;
        float:left;
        background-color:#F4F4F4;
    }
    .colw{
        width:100px;
    }
    .current{
        display:block;
    }
    .hidden{
        display:none;
    }
    
@-webkit-keyframes flash {
      0%, 50%, 100% {
        opacity: 1;
      }
    
      25%, 75% {
        opacity: 0.7;
      }
    }    
@keyframes flash {
      0%, 50%, 100% {
        opacity: 1;
      }
    
      25%, 75% {
        opacity: 0.7;
      }
    }   
    .flash {
      -webkit-animation: flash 3s ease infinite;
              animation: flash 3s ease infinite;
    }
